<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2017</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology in Computer Engineering</div>
               <h4 class="category">Chhotubhai Gopalbhai Patel Institute of Technology, Bardoli
               </h4>
               <ul>
                <li> Completed B.Tech in Computer Engineering with 8.16 CGPA</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2023 - 2024</p>
              <div class="h5">Post Graduate Certificate</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Web Development</div>
               <h4 class="category">Conestoga College, Waterloo
               </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>